<div style='width: 800px;'>
  <div id="geolocation" style='width: 800px; height: 400px;'></div>
</div>


<%= form_tag({:controller=>"statics", :action=>"index"}, method: :get) do %>
	<%= text_field_tag :search_term %>
    <%= submit_tag 'Search for a Beer', name: nil %>
<% end %>

<% if @beer.present?%>
	<% if @beer['data'].present? %>
		<% @beer['data'].each do |f|  %>
			<%= image_tag((f['labels']['medium'] if f['labels'].present?), class: "label_icon") %>
			
			<br>
		<% end %>
	<% end %>
<% end %>

<script type="text/javascript">
var handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id:'geolocation'}}, function(){
  if(navigator.geolocation)
    navigator.geolocation.getCurrentPosition(displayOnMap);

  markers = handler.addMarkers(<%=raw @hash.to_json %>);
});

function displayOnMap(position){
  var marker = handler.addMarker({
    lat: position.coords.latitude,
    lng: position.coords.longitude
  });
  handler.map.centerOn(marker);
};

</script>

