<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

  <%= form_tag({:controller=>"restaurants", :action=>"index"}, method: :get) do %>
      <%= text_field_tag :search_term %>
      <%= submit_tag 'Search for a Bar', name: nil %>
  <% end %>

<<<<<<< HEAD
  <% if @restaurant.present? %>
    <%=  @restaurant.each do |x| %>
=======
  <% if @place.present? %>
    <%  @place.each do |x| %>
>>>>>>> cd1b621b9e88a809498178931fbaed4f8a1da1ba
      <%= x.name %> <br/>
      <%= x.vicinity %> <br/>
      <%= x.lat %> <br/>
      <%= x.lng %> <br/>
      <%= x.icon %> <br/>
      <%= x.types %> <br/>
<<<<<<< HEAD
      <%= x.place_id %>
=======

>>>>>>> cd1b621b9e88a809498178931fbaed4f8a1da1ba
        <%= form_tag({:controller=>"restaurants", :action=>"create"}, method: :post) do %>
          <%= hidden_field_tag "restaurant[name]", x.name %>
          <%= hidden_field_tag "restaurant[lat]", x.lat %>
          <%= hidden_field_tag "restaurant[long]", x.lng %>
          <%= hidden_field_tag "restaurant[place_id]", x.place_id %>
        <%= submit_tag 'Add some Beers', name: nil %>
      <% end %>
      <br>
      <br>
      <br>
    <% end %>
  <% end %>
</body>
</html>