<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

<div style="width:100%;">
  <div id="map" style="width: 100%; height: 500px;">
    <%= render "restaurant_map" %>
  </div>
</div>

  <!-- Search form for Restaurants/Bars -->

    <form class="navbar-form navbar-center", role="search">
      <%= form_tag({:controller=>"restaurants", :action=>"index"}, method: :get) do %>
      <div class="form-group-lg">
              <%= text_field_tag :search_term_bar, '', :placeholder => "Restaurant/Bar", :class => "form-control" %>
              <%= text_field_tag :location_bar, '', :placeholder => "Location", :class => "form-control" %>
              <%= submit_tag 'Search', name: nil, :class => "btn btn-lg" %>
          <% end %>
      </div>
    </form>

  <!-- Display all results from search -->
  <% if @restaurants.present? %>
    <% @restaurants.each do |x| %>
      <%= x.name %> <br/>
      <%= image_tag(x.icon) %> <br/>
      <%= x.formatted_address %> <br/>
      <%= x.rating %><br/>
      <%= x.price_level %><br/>
      <%#= x.photos[0].fetch_url(800) %>

      <%= form_tag({:controller=>"restaurants", :action=>"create"}, method: :post) do %>
          <%= hidden_field_tag "restaurant[name]", x.name %>
          <%= hidden_field_tag "restaurant[lat]", x.lat %>
          <%= hidden_field_tag "restaurant[long]", x.lng %>
          <%= hidden_field_tag "restaurant[place_id]", x.place_id %>
          <%= hidden_field_tag "restaurant[address]", x.formatted_address %>
          <%= hidden_field_tag "restaurant[rating]", x.rating %>
          <%= hidden_field_tag "restaurant[price]", x.price_level %>
      <%= submit_tag 'Add some Beers', name: nil %>

      <% end %>
      <br>
      <br>
      <br>
    <% end %>
  <% end %>
</body>
</html>