<!DOCTYPE html>
<html>
<head>
  <title>Restaurant Page</title>
</head>
<body>

<div style="width:100%;">
  <div id="restaurant_map">
    <%= render "restaurant_map" %>
  </div>
</div>
	
<div id="contrainer">
	<h2> <%= @restaurant.name %></h2>
	<h3> <%= @restaurant.location %></h3>

	<h2> <%= @restaurant.name %></h2>
	<%= form_tag({:controller=>"restaurants", :action=>"show"}, method: :get) do %>
		<%= text_field_tag :search_term %>
	    <%= submit_tag 'Search for a Beer', name: nil %>
	<% end %>




	<% if @beer.present?%>
		<% if @beer['data'].present? %>
		<div class="row">
			<% @beer['data'].each do |f|  %>
				<div class="col-xs-6 col-md-3">
				<%= image_tag((f['labels']['medium'] if f['labels'].present?), :class => "thumbnail") %>
				  <%= form_tag({:controller=>"beers", :action=>"create", :id => @restaurant.id}, method: :post) do %>
			          <%= hidden_field_tag "beer[name]", f['name'] %>
			          <%= hidden_field_tag "beer[brewery]", f['breweries'][0]["name"] %>
			          <% if f["style"].present? %>
			    	  <%= hidden_field_tag "beer[style]", f["style"]["shortName"] %>
			    	  <% end %>
			    	  <% if f["labels"].present? %>
			    	  <%= hidden_field_tag "beer[labels]", f["labels"]["medium"]  %>
			    	  <% end %>
			    	  <%= f["description"].present? %>
	  		    	  <% if f["description"].present? %>
			    	  <%= hidden_field_tag "beer[description]", f["description"] %>
			    	  <% end %>
			    	  <%= hidden_field_tag "beer[breweryDB_id]", f["id"] %>
			      	  <%= submit_tag 'Add Beer', name: nil, :class => "btn btn-default" %>
	      		  <% end %>
	  		  	</div>
			<% end %>
		<% end %>
		</div>
	<% end %>


	<h1>What's on Tap?</h1>
	<div class="row">
		<% @restaurant.beers.each do |f| %>
		<div class="container col-sm-4" >
			<div class="span3">
			  	<div class="thumbnail">
				<%= image_tag(f.labels) %><br />
				<div class="caption">
					<div class="row-fluid">
			            <div class="span6">
			            	<%= link_to "Check it out", beer_path(f.id), :class => "btn btn-block btn-info" %>
			        	</div>
		    		</div>
				</div>
			  	</div>
			</div>
	  	</div>
		<% end %>
	</div>
</div>

</body>
</html>