<!DOCTYPE html>
<html>
<head>
  <title>Restaurant Page</title>
</head>
<body>
<div style="width:100%;">
  <div id="map" style="width: 100%; height: 300px;">
    <%= render "restaurant_map" %>
  </div>
</div>

<h2> <%= @restaurant.name %></h2>
<% @restaurant.inspect %>
<%= form_tag({:controller=>"restaurants", :action=>"show"}, method: :get) do %>
	<%= text_field_tag :search_term %>
    <%= submit_tag 'Search for a Beer', name: nil %>
<% end %>

<% if @beer.present?%>
	<% if @beer['data'].present? %>
		<% @beer['data'].each do |f|  %>
			<%= image_tag((f['labels']['medium'] if f['labels'].present?), class: "label_icon") %>
			  <%= form_tag({:controller=>"beers", :action=>"create", :id => @restaurant.id}, method: :post) do %>
		          <%= hidden_field_tag "beer[name]", f['name'] %>
		          <%= hidden_field_tag "beer[brewery]", f['breweries'][0]["name"] %>
		    	  <%= hidden_field_tag "beer[style]", f["style"]["shortName"] %>
		    	  <%= hidden_field_tag "beer[breweryDB_id]", f["id"] %>
		      	  <%= submit_tag 'Add Beer', name: nil %>
      		  <% end %>
		<% end %>
	<% end %>
<% end %>
<h4>What's on Tap?</h4>
<% @restaurant.beers.each do |f| %>
	<%= f.name %>
	<br />	
<% end %>


</body>
</html>