<p id="notice"><%= notice %></p>

<div class="container-fluid" id="main">
  <div class="row">
  	<div class="col-xs-8" id="left">

  	<%= @beer.inspect %>


  	<h2><%=@beer.name%></h2>
	
	<%= image_tag(@beer.labels)%>

	<p>
	  <strong>Brewery:</strong>
	  <%= @beer.brewery %>
	</p>

	<p>
	  <strong>Style:</strong>
	  <%= @beer.style %>
	</p>

	<p>
	  <strong>Description:</strong>
	  <%= @beer.description %>
	</p>

	<p>
	  <strong>You can find it at:</strong>
	  <% @restaurants.each do |r| %>
	  	<%= link_to r.name, restaurant_path(r), method: "get" %>
	  	<%= r.address %>
	  <% end %>
	</p>

	</div>
  </div>
</div>



<div id="beer_map">
	<%= render "beer_map" %>
</div>

