<!-- NAVIGATION BAR -->
<nav class="navbar navbar-fixed-top navbar-default" id="navbar-contain">     
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="col-md-1"></div>
<!-- LOGO -->
    <div class="navbar-header"><a class="navbar-brand" href="/">CrowdTap</a></div>
  </div>
<!-- STATIC PAGES -->   
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">    
    <ul class="nav navbar-nav">
      <li><a href="/statics/contact">CONTACT US</a></li>
      <li><a href="/statics/about">HOW IT WORKS</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
      <%= form_tag({:controller=>"statics", :action=>"index"}, method: :get, class: " navbar-form") do %>
        <%= text_field_tag :search_term, params[:search_term], placeholder: 'Beer Name',:class => 'tfield'  %>
        <%= text_field_tag :location, params[:location], placeholder: 'Location',:class => 'tfield'  %>
        <%= number_field_tag :range, params[:range], placeholder: 'Distance in Miles', :class => 'tfield' %>
        <%= submit_tag 'Search for a Beer', name: nil,  :class => "btn btn-info"%>      
      <% end %>
      </li>
<!-- TRANSACTION HISTORY DROPDOWN -->
      <% if current_user %>
<!-- USER ACCOUNT DROPDOWN -->
        <li><a href="/restaurants">ADD BEER</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">User Account <b class="caret"></b></a>
          <ul class="dropdown-menu">
          <% if current_user == true %>
            <li><a href="/users/<%= current_user.id %>/edit">Edit Profile</a></li>
            <li><a href="/users/<%= current_user.id %>">My Profile</a></li>
            <li><a href="/auth/logout">Log Out</a></li>
          <% else %>
            <li><a href="/users/<%= current_user.id %>">My Profile</a></li>
            <li><a href="/logout">Log Out</a></li> 
          <% end %>
          </ul>
        </li>  
<!-- SHOW FACEBOOK AND LINKEDIN LOGINS IF NO CURRENT USER -->
      <% else %> 
        <li><a href="/auth/facebook">LOGIN VIA FACEBOOK</a></li>
      <% end %>       
    </ul>
  </div>
</nav>

